<div id="criteria">
  <div class="field">
    <label for="keyword">Keyword</label>
    {{view keywordField id="keyword" valueBinding="model.keyword"}}
  </div>

  <hr>

  <div class="field stream_selector">
    <label class="checkbox">
      {{view streamSelector}}
      Watch the live stream
    </label>
  </div>

  <div class="field">
    <label for="start_date">Start Date</label>
    {{view dateField id="start_date" valueBinding="model.startDateString" class="date input-small"}}
    {{view dateField id="start_time" valueBinding="model.startTimeString" class="time input-small"}}
  </div>

  <div class="field">
    <label for="end_date">End Date</label>
    {{view dateField id="end_date" valueBinding="model.endDateString" class="date input-small"}}
    {{view dateField id="end_time" valueBinding="model.endTimeString" class="time input-small"}}
  </div>

  <div class="field">
    <label class="radio">
      {{view timezoneSelector timezone="mine"}}
      Search using my time zone
    </label>
    <label class="radio">
      {{view timezoneSelector timezone="map"}}
      Search using map's time zone
    </label>
  </div>

  <hr>

  {{view IWitness.MapView}}
</div>
