<td class="pic">
  <img {{bindAttr src="model.profilePicUrl"}}>
</td>
<td>
  <strong>{{model.title}}</strong>
  by
  <a target="_blank" {{bindAttr href="model.profileUrl"}}>
    {{model.ownername}}
  </a>
  <em>taken {{model.timestamp}}<br>uploaded {{model.uploadTimestamp}}</em>
  <div class="flickr_photo">
    <img {{bindAttr src="model.urlS"}}>
    <p>{{model.description._content}}</p>
  </div>
  <a class="permalink" target="_blank" {{bindAttr href="model.permalinkUrl"}}>flickr</a>
</td>
