<td class="pic">
  <img {{bindAttr src="model.profilePicUrl"}}>
</td>
<td>
  <strong>{{model.title}}</strong>
  by
  <a target="_blank" {{bindAttr href="model.profileUrl"}}>
    {{model.ownername}}
  </a>
  <em>{{model.timestamp}}</em>
  <p><img {{bindAttr src="model.urlS"}}></p>
  <a class="permalink" target="_blank" {{bindAttr href="model.permalinkUrl"}}>flickr</a>
</td>
