<table class="table table-bordered table-striped" id="result_set">
  {{#each IWitness.resultSetController.content}}
    <tr>
      <td class="pic">
        <img {{bindAttr src="profile_image_url"}}>
      </td>
      <td>
        <strong><a target="_blank" {{bindAttr href="from_user_url"}}>@{{from_user}}</a></strong>
        <em>{{timestamp}}</em>
        <p>{{linkify text}}</p>
      </td>
    </tr>
  {{/each}}

  {{#unless IWitness.resultSetController.content.length}}
    <tr>
      {{#if IWitness.searchController.searching}}
        <td class="message">Searching...</td>
      {{else}}
        <td class="message">No Results</td>
      {{/if}}
    </tr>
  {{/unless}}
</table>
