<div id="criteria">
  <div class="field">
    <label for="keyword">Keyword</label>
    {{view Ember.TextField id="keyword" valueBinding="model.keyword"}}
  </div>

  <div class="field">
    <label for="start_date">Start Date</label>
    {{view Ember.TextField id="start_date" valueBinding="model.startDate" class="date"}}
    {{view Ember.TextField id="start_time" valueBinding="model.startTime" class="time"}}
  </div>

  <div class="field">
    <label for="end_date">End Date</label>
    {{view Ember.TextField id="end_date" valueBinding="model.endDate" class="date"}}
    {{view Ember.TextField id="end_time" valueBinding="model.endTime" class="time"}}
  </div>

  <p>Searching in {{model.timezoneOffset}}</p>
  <p>Map is (approximately) in {{model.mapTimezoneOffset}}</p>

  {{view IWitness.MapView}}

  <input type="submit" value="Search" {{action search}}>
</div>
