<td class="pic">
  <img {{bindAttr src="model.profileImageUrl"}}>
</td>
<td>
  <a target="_blank" {{bindAttr href="model.fromUserUrl"}}>
    <strong>{{model.fromUserName}}</strong>
    @{{model.fromUser}}
  </a>
  <em>{{model.timestamp}}</em>
  <p>{{linkify model.text}}</p>
  <a class="permalink" target="_blank" {{bindAttr href="model.permalinkUrl"}}>twitter</a>
</td>
