<div id="criteria">
  <a href="http://adaptivepath.com" target="_blank" id="adaptive_path">Adaptive Path</a>
  <div id="iwitness_title"><i>i</i>Witness</div>

  <div id="date_and_time_selectors">
    {{view streamSelector id="stream_selector"}}

    {{view dateTimeSelector whichDate="start"}}
    {{view dateTimeSelector whichDate="end"}}

    {{#view timezoneSelector}}
      <div {{bindAttr class="timezoneToggleClass"}}></div>

      <label class="timezone local" {{action chooseLocalTime}}>
      </label>

      <label class="timezone map" {{action chooseMapTime}}>
      </label>
    {{/view}}
  </div>

  {{view IWitness.MapView}}
</div>
