<div id="criteria">
  <a href="http://adaptivepath.com" target="_blank" id="adaptive_path">Adaptive Path</a>
  <div id="iwitness_title" {{action "showWelcome"}}>
    <i>i</i>Witness
  </div>

  <div id="date_and_time_selectors" {{bindAttr class="streamingClass"}}>
    <div id="live_stream_time">
      <div class="time-element hour">{{format model.streamingTime format="hh"}}</div>
      <div class="time-element minute">{{format model.streamingTime format="mm"}}</div>
      <div class="time-element period">{{format model.streamingTime format="A"}}</div>
    </div>

    {{#view streamSelector id="stream_selector"}}
      <img src="images/live_stream_switch.png" class="streaming">
      <img src="images/time_scan_switch.png" class="time-scan">
    {{/view}}

    <div id="time_scan_time">
      {{view IWitness.DateTimeSelector whichDate="start"}}
      {{view IWitness.DateTimeSelector whichDate="end"}}
    </div>

    {{#view timezoneSelector}}
      <div {{bindAttr class="timezoneToggleClass"}}></div>

      <label class="timezone local" {{action chooseLocalTime}}>
      </label>

      <label class="timezone map" {{action chooseMapTime}}>
      </label>
    {{/view}}
  </div>

  {{view IWitness.MapView}}
</div>
