<div id="criteria">
  <a href="http://adaptivepath.com" target="_blank" id="adaptive_path">Adaptive Path</a>
  <div id="iwitness_title"><i>i</i>Witness</div>

  <div id="date_and_time_selectors">
    {{view streamSelector id="timezone_selector"}}

    {{view dateField id="start_date" valueBinding="model.startDateString" class="date start input-small"}}
    {{view dateField id="start_time" valueBinding="model.startTimeString" class="time start input-small"}}

    {{view dateField id="end_date" valueBinding="model.endDateString" class="date end input-small"}}
    {{view dateField id="end_time" valueBinding="model.endTimeString" class="time end input-small"}}

    <div {{bindAttr class="timezoneToggleClass"}}></div>

    <label class="timezone mine">
      {{view timezoneSelector timezone="mine" class="timezone mine"}}
    </label>

    <label class="timezone map">
      {{view timezoneSelector timezone="map"  class="timezone map"}}
    </label>
  </div>

  {{view IWitness.MapView}}

  {{view IWitness.HiddenItemsView id="hiddenItemsCount"}}
</div>
