<div id="criteria">
  <a href="http://adaptivepath.com" target="_blank" id="adaptive_path">Adaptive Path</a>
  <div id="iwitness_title"><i>i</i>Witness</div>

  <div id="date_and_time_selectors">
    {{view streamSelector id="stream_selector"}}

    <div class="time-element start day">15</div>
    <div class="time-element start month">Mar</div>
    <div class="time-element start year">2012</div>
    <div class="time-element start hour">12</div>
    <div class="time-element start minute">00</div>
    <div class="time-element start period">PM</div>

    <div class="time-element end day">15</div>
    <div class="time-element end month">Mar</div>
    <div class="time-element end year">2012</div>
    <div class="time-element end hour">12</div>
    <div class="time-element end minute">00</div>
    <div class="time-element end period">PM</div>

    {{view dateField id="start_date" valueBinding="model.startDateString" class="date start input-small"}}
    {{view dateField id="start_time" valueBinding="model.startTimeString" class="time start input-small"}}

    {{view dateField id="end_date" valueBinding="model.endDateString" class="date end input-small"}}
    {{view dateField id="end_time" valueBinding="model.endTimeString" class="time end input-small"}}

    {{#view timezoneSelector}}
      <div {{bindAttr class="timezoneToggleClass"}}></div>

      <label class="timezone local" {{action chooseLocalTime}}>
      </label>

      <label class="timezone map" {{action chooseMapTime}}>
      </label>
    {{/view}}
  </div>

  {{view IWitness.MapView}}
</div>
