<div class="date-trigger" {{action "pickDate"}}>
  <div class="time-element {{unbound whichDate}} day">{{day}}</div>
  <div class="time-element {{unbound whichDate}} month">{{month}}</div>
  <div class="time-element {{unbound whichDate}} year">{{year}}</div>
</div>
<div class="datepicker {{unbound whichDate}}"></div>

<div class="time-trigger" {{action "pickTime"}}>
  <div class="time-element {{unbound whichDate}} hour">{{hours}}</div>
  <div class="time-element {{unbound whichDate}} minute">{{minutes}}</div>
  <div class="time-element {{unbound whichDate}} period">{{period}}</div>
</div>

<div class="ui-widget ec-time-picker {{unbound whichDate}}">
  <div class="column column-1 hour">
    <a href="#" data-val="01">1</a>
    <a href="#" data-val="02">2</a>
    <a href="#" data-val="03">3</a>
    <a href="#" data-val="04">4</a>
    <a href="#" data-val="05">5</a>
    <a href="#" data-val="06">6</a>
    <a href="#" data-val="07">7</a>
    <a href="#" data-val="08">8</a>
    <a href="#" data-val="09">9</a>
    <a href="#" data-val="10">10</a>
    <a href="#" data-val="11">11</a>
    <a href="#" data-val="12">12</a>
  </div>
  <div class="column column-2 minute">
    <a href="#" data-val="00">00</a>
    <a href="#" data-val="01">01</a>
    <a href="#" data-val="02">02</a>
    <a href="#" data-val="03">03</a>
    <a href="#" data-val="04">04</a>
    <a href="#" data-val="05">05</a>
    <a href="#" data-val="06">06</a>
    <a href="#" data-val="07">07</a>
    <a href="#" data-val="08">08</a>
    <a href="#" data-val="09">09</a>
    <a href="#" data-val="10">10</a>
    <a href="#" data-val="11">11</a>
    <a href="#" data-val="12">12</a>
    <a href="#" data-val="13">13</a>
    <a href="#" data-val="14">14</a>
    <a href="#" data-val="15">15</a>
    <a href="#" data-val="16">16</a>
    <a href="#" data-val="17">17</a>
    <a href="#" data-val="18">18</a>
    <a href="#" data-val="19">19</a>
    <a href="#" data-val="20">20</a>
    <a href="#" data-val="21">21</a>
    <a href="#" data-val="22">22</a>
    <a href="#" data-val="23">23</a>
    <a href="#" data-val="24">24</a>
    <a href="#" data-val="25">25</a>
    <a href="#" data-val="26">26</a>
    <a href="#" data-val="27">27</a>
    <a href="#" data-val="28">28</a>
    <a href="#" data-val="29">29</a>
    <a href="#" data-val="30">30</a>
    <a href="#" data-val="31">31</a>
    <a href="#" data-val="32">32</a>
    <a href="#" data-val="33">33</a>
    <a href="#" data-val="34">34</a>
    <a href="#" data-val="35">35</a>
    <a href="#" data-val="36">36</a>
    <a href="#" data-val="37">37</a>
    <a href="#" data-val="38">38</a>
    <a href="#" data-val="39">39</a>
    <a href="#" data-val="40">40</a>
    <a href="#" data-val="41">41</a>
    <a href="#" data-val="42">42</a>
    <a href="#" data-val="43">43</a>
    <a href="#" data-val="44">44</a>
    <a href="#" data-val="45">45</a>
    <a href="#" data-val="46">46</a>
    <a href="#" data-val="47">47</a>
    <a href="#" data-val="48">48</a>
    <a href="#" data-val="49">49</a>
    <a href="#" data-val="50">50</a>
    <a href="#" data-val="51">51</a>
    <a href="#" data-val="52">52</a>
    <a href="#" data-val="53">53</a>
    <a href="#" data-val="54">54</a>
    <a href="#" data-val="55">55</a>
    <a href="#" data-val="56">56</a>
    <a href="#" data-val="57">57</a>
    <a href="#" data-val="58">58</a>
    <a href="#" data-val="59">59</a>
  </div>
  <div class="column column-3 period">
    <a href="#" data-val="AM">AM</a>
    <a href="#" data-val="PM">PM</a>
  </div>
</div>
