<div class="time-element {{unbound whichDate}} day">{{day}}</div>
<div class="time-element {{unbound whichDate}} month">{{month}}</div>
<div class="time-element {{unbound whichDate}} year">{{year}}</div>
<div class="time-element {{unbound whichDate}} hour">{{hours}}</div>
<div class="time-element {{unbound whichDate}} minute">{{minutes}}</div>
<div class="time-element {{unbound whichDate}} period">{{period}}</div>
