<div id="map-widget">
  <div id="map"></div>
  <div class="map-zoom-control" {{bindAttr class="zoomClass"}}>
    <div class="handle"></div>
    <div class="zoom out" {{action "zoomOut"}}></div>
    <div class="zoom in"  {{action "zoomIn"}}></div>
    <div class="slider"></div>
    <div class="progress"></div>
  </div>
</div>

<div id="address-field" {{bindAttr class="mapSearchStatus"}}>
  <div class="radar"></div>
  <label for="address">
    Find Location
    {{view addressField id="address"}}
  </label>
</div>
