{{#each model.errors}}
  <div class="error alert alert-error">{{this}}</div>
{{/each}}

<div class="alert alert-info">
  {{#if IWitness.currentViewController.showingSearchResults}}
    Twitter status: {{twitterStatus}}
    &nbsp; &nbsp; &nbsp;
    Flickr status:  {{flickrStatus}}
  {{else}}
    <button {{action clearStarred}} id="clear_starred_results_button" class='btn btn-danger misplaced-message-button-hack'>
      Clear all
    </button>
    {{#view exportLink}}Email{{/view}}
  {{/if}}
</div>

