{{#each model.errors}}
  <div class="error alert alert-error">{{this}}</div>
{{/each}}

<div class="alert alert-info">
  {{#if IWitness.curatedResultsToggleController.showingSearchResults}}
    Twitter status: {{twitterStatus}}
    &nbsp; &nbsp; &nbsp;
    Flickr status:  {{flickrStatus}}
  {{else}}
    <button {{action clearCurated}} id="clear_curated_results_button" class='btn btn-danger misplaced-message-button-hack'>
      Clear all
    </button>
    <a {{bindAttr href="exportLink"}} class='btn btn-info misplaced-message-button-hack'>Email Curated Set</a>
  {{/if}}

  {{view IWitness.CuratedResultsToggleView id="curated_results_toggle"}}
</div>

