<div class="fold left"></div>
<div class="fold right"></div>

<div id="results-top-bar" class="toolbar">
  <div {{bindAttr class="statusClass"}} {{action "showPopover"}}>
    {{status}}
    <div class="radar"></div>

    {{view IWitness.ServicePopoverView statusBinding="status"}}
  </div>

  <div id="show_saved_button" class="nav-button with-icon star-icon" {{action showSaved}}>
    Show saved items
  </div>
</div>
