<div class="fold left"></div>
<div class="fold right"></div>

<div id="results-top-bar" class="toolbar">
  <div {{bindAttr class="statusClass"}}>
    {{status}}
    <div class="radar"></div>

    <div id="services-menu">
      <div class="services-header">
        {{status}} <div class="services-status-icon"></div>
      </div>

      <div class="services-menu-content">
        {{collection contentBinding="IWitness.config.services" itemViewClass="IWitness.ServiceStatusView"}}
      </div>
    </div>
  </div>

  <div id="show_starred_button" class="nav-button with-icon star-icon" {{action showStarred}}>
    Show starred items
  </div>
</div>
