<div id="results-fold"></div>
<div id="results-top-bar" class="toolbar">
  <div {{bindAttr class="statusClass"}}>
    {{status}}
    <div class="radar"></div>

    <div id="services-menu">
      <div class="services-header">
        {{status}} <div class="services-status-icon"></div>
      </div>

      <div class="services-menu-content">
        {{collection contentBinding="IWitness.config.services" itemViewClass="IWitness.ServiceStatusView"}}
      </div>
    </div>
  </div>

  <div id="filters-menu">
    <div class="filters-header">
      Filters 
    </div>

    <div class="filters-menu-content">
      {{#collection contentBinding="IWitness.filter.availableMediaTypes"}}
        <div class="service-title">
          <label>
            {{view Ember.Checkbox checkedBinding="content.active"}}
            {{content.type}}
          </label>
        </div>
      {{/collection}}
    </div>
  </div>

  <div id="show_starred_button" class="nav-button with-icon star-icon" {{action showStarred}}>
    Show starred items
  </div>
</div>
