<div class="item">
  <div class="timeline-arrow"><span>{{unbound postedTime}}</span></div>
  <div class="timeline-arrows"></div>
  <div {{action toggleCuration}} {{bindAttr class="starButtonClass"}}></div>

  {{#if model.contentSrc}}
    <a class='content-link' target="_blank" href="{{unbound model.contentLink}}">
      <img src="{{unbound model.contentSrc}}">
    </a>
  {{/if}}

  <div class="heading">
    <div class="pic">
      <a target="_blank" href="{{unbound model.userUrl}}">
        <img  src="{{unbound model.avatarSrc}}">
      </a>
    </div>

    {{#if model.title}}
      <strong>{{unbound model.title}}</strong>
      by
    {{/if}}

    <a target="_blank" class="user-name-primary"  href="{{unbound model.userUrl}}">
      {{unbound model.userNamePrimary}}
    </a>

    {{#if model.userNameSecondary}}
      <br>
      <a target="_blank" class="user-name-secondary"  href="{{unbound model.userUrl}}">
        {{unbound model.userNameSecondary}}
      </a>
    {{/if}}
  </div>

  <div class="result_content">
    <p>{{linkify model.contentText}}</p>
  </div>

  <div class="pin" {{action "recenterOnResult"}} title="Recenter search"></div>

  <div class="small-links">
    <a class="permalink" target="_blank"  href="{{unbound model.permalinkUrl}}">
      {{unbound model.permalinkText}}
    </a>
    <div class="timestamp">
      <a target="_blank"  href="{{unbound model.permalinkUrl}}">
        {{unbound postedDate}}
        <br>
        {{unbound postedTime}}
      </a>
    </div>
  </div>
</div>

<div class="item-footer">
  {{#view flaggedView}}Flag for export{{/view}}
  <div class="button" {{action "toggleEmbedForm"}}>Embed</div>
</div>

<div class="popover">
  <div class="heading" {{action "toggleEmbed"}}>Embed</div>
  <div class="content linenums">{{model.embedHtml}}</div>
</div>
