{{view IWitness.SavedHeaderView}}

<div id="saved-info">
  <h1>{{numberOfItems}}</h1>

  <div {{bindAttr class="exportSectionClass"}} id="export-section">
    <h2>{{numberFlaggedForExport}}</h2>

    <div class="drop-down">
      <div class="label" {{action "toggleDropDown"}}>
        Pick one
        <div class="arrow"></div>
      </div>
      <div class="items">
        <div {{action "showExportHtml"}}>Get embed code</div>
        {{#view exportLink}}Send as email{{/view}}
        <div {{action "showExportText"}}>Copy as text</div>
      </div>
    </div>

    <div id="copy-overlay">
      <div id="copy-overlay-close" {{action "hideExportText"}}>close</div>
      <div id="copy-overlay-content">
        <div id="text-content">
          {{#if IWitness.savedSetController.flaggedCount}}
            {{#each IWitness.savedSetController.flaggedResults}}
              {{view IWitness.TextResultView modelBinding="this"}}
            {{/each}}
          {{/if}}
        </div>
        <div id="html-content">
        </div>
      </div>
    </div>
  </div>
  {{view IWitness.SavedMapView id="saved-map-container"}}
</div>

<div id="saved_results">
  {{view IWitness.SavedSetView}}
</div>
