{{view IWitness.SavedHeaderView}}

<div id="saved-info">
  <h1>{{numberOfItems}}</h1>

  <div {{bindAttr class="exportSectionClass"}} id="export-section">
    <h2>{{numberFlaggedForExport}}</h2>

    <div class="drop-down">
      <div class="label">
        Pick one
        <div class="arrow"></div>
      </div>
      <div class="items">
        <div>Get embed code</div>
        {{#view exportLink}}Send as email{{/view}}
        <div {{action "showExportText"}}>Copy as text</div>
      </div>
    </div>

    <div id="export-popover" class="popover left-heading">
      <div class="heading" {{action "hideExportText"}}>Copy as text</div>
      <div id="rendered-text-results" class="content linenums">
        {{#if IWitness.savedSetController.flaggedCount}}
          {{#each IWitness.savedSetController.flaggedResults}}
            {{view IWitness.TextResultView modelBinding="this"}}
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
  {{view IWitness.SavedMapView id="saved-map-container"}}
</div>

<div id="saved_results">
  {{view IWitness.SavedSetView}}
</div>
