{{view IWitness.CriteriaView}}

{{#view IWitness.ErrorsView id="map-error" errorBinding="IWitness.criteria.mapError"}}
  {{error}}
{{/view}}

<div id="results-header">
  {{view IWitness.ResultsStatusView}}
  {{view IWitness.KeywordFilterView}}
</div>
<div id="results">
  <div id="timeline"></div>
  {{view IWitness.ResultSetView}}
</div>
