{{view IWitness.CriteriaView}}

{{#view IWitness.ErrorsView id="map-error" errorBinding="IWitness.criteria.mapError"}}
  {{error}}
{{/view}}

{{#view IWitness.ErrorsView id="time-error" errorBinding="IWitness.criteria.timeError"}}
  {{error}}
{{/view}}

<div id="results-header">
  {{view IWitness.ResultsStatusView}}
  {{view IWitness.KeywordFilterView}}
  <div id="back-to-top">Back to top</div>
</div>
<div id="results">
  <div id="timeline"></div>
  {{view IWitness.ResultSetView}}
</div>
