{{view IWitness.CriteriaView}}

{{#view IWitness.ErrorsView id="map-error" errorBinding="IWitness.criteria.mapError"}}
  {{error}}
{{/view}}

{{#view IWitness.ErrorsView id="time-error" errorBinding="IWitness.criteria.timeError"}}
  {{error}}
{{/view}}

<div id="results-header">
  {{view IWitness.ResultsStatusView}}

  <div id="results-bottom-bar">
    <div id="show-filters-button" {{action "showFilters"}}>Show filters</div>
    <div id="back-to-top-button" {{action "backToTop"}}>Back to top</div>
  </div>
</div>

<div id="filter-popover">
  <div class="header" {{action "hideFilters"}}><span>Hide filters</span></div>
  <div class="content">
    {{view IWitness.KeywordFilterView}}

    {{#each IWitness.filter.availableMediaTypes}}
      {{view IWitness.ServiceSwitchView modelBinding="this"}}
    {{/each}}

    <div class="row service_toggle_button" {{action "toggleServiceFilters"}}>
      <span class="open">Hide services</span>
      <span class="closed">Show services</span>
    </div>

    <div id="available_services">
      {{#each IWitness.filter.availableServices}}
        {{view IWitness.ServiceSwitchView modelBinding="this"}}
      {{/each}}
    </div>
  </div>
</div>

<div id="results">
  {{view IWitness.InlineInfoView}}

  {{view IWitness.ResultSetView}}
</div>
